<div class="jumbotron">
  <h1 class="display-4">Recipe Book App</h1>
  <p class="lead">Simple interactive digital recipe book</p>
  <hr class="my-4">
  <p>Create your own profile and store your favorite recipes</p>
  <a class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
  <a class="btn btn-primary btn-lg" routerLink="/register" role="button">Register</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Store your recipes</h5>
          <p class="card-text">Can't find your grandma's recipe book ? <br> Now you don't have to look for it. Simply store your recipes here and access them with a few easy clicks</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What are others cooking ?</h5>
          <p class="card-text">Tired of the same meals everyday ? <br> Now you can check out what others are cooking by viewing the recipes they've posted on the recipe wall</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What are you waiting for ?</h5>
          <p class="card-text">Register your personal profile and show the world you're a master chef</p>
        </div>
      </div>
    </div>
  </div>
</div>
